body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: overlay;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

.monospace {
  font-family: "JetBrainsMono", 'Courier New', Courier, monospace;
}

.monospace-important {
  font-family: "JetBrainsMono", 'Courier New', Courier, monospace !important;
}

.bolded {
  font-weight: 800;
}

.monospace-condensed {
  font-family: "JetBrainsMono", 'Courier New', Courier, monospace;
  font-size: 7rem;
}

.my-leaflet-map-container {
  width: '100%';
  height: '100%';
}

#loggedUser {
  justify-content: center;
  align-items: center;
  display: flex;
}

#loggedUser img {
  margin-right: 10px;
}

.sign-out-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-out-button:hover {
  background-color: #45a049;
}

.sign-out-button:focus {
  outline: none;
}

.sign-out-button:active {
  background-color: #3e8e41;
}